* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.img {
  width: 100%;
  height: 100vh;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 800;
}
section:nth-child(odd) {
  background-color: #83ffdd;
}

section:nth-child(even) {
  background-color: #004f3a;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(28, 63, 94, 0.3);
}

nav a {
  position: relative;
  color: aliceblue;
  text-decoration: none;
  padding: 8px 25px;
  font-size: 1.5em;
  text-transform: uppercase;
  display: inline-block;
}

nav a:hover,
section#n1:hover ~ nav a[href='#n1'],
section#n2:hover ~ nav a[href='#n2'],
section#n3:hover ~ nav a[href='#n3'],
section#n4:hover ~ nav a[href='#n4'],
section#n5:hover ~ nav a[href='#n5'] {
  background-color: rgb(33, 70, 99);
  color: #858585;
}

nav a:active {
  background: rgb(33, 50, 70);
}

::-webkit-scrollbar {
  display: none;
}
